/*******************************
           DO NOT TOUCH         
 *******************************/

/* 
 * Brackets for repository's commit SHA
 * ------------------------------------
 */

#assignment-info .solution::after {
  content: ': '
}

#assignment-info .commit-sha::before {
  content: '[ '
}

#assignment-info .commit-sha::after {
  content: ' ]'
}

/*
 * Assignment Info banner
 * ---------------------
 * - your solution:  lightblue
 * - solution to review 1: lightgreen
 * - solution to review 2: khaki
 */

#assignment-info {
  background-color: lightblue;
  padding: 5px;
  font-size: smaller;
}

/* 
 * Corresponding heading backgrounds on index page
 * (if used)
 * -----------------------------------------------
 */

h2 {
  padding: 5px;
}

h2.your-solution {
  background-color: lightblue;
}

h2.solution-to-review-1 {
  background-color: lightgreen;
}

h2.solution-to-review-2 {
  background-color: khaki;
}

/*
 * General page styles
 * -------------------
 */

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#root {
  margin-left: 15px;
  margin-right: 15px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.error {
  color: red;
  
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.success {
  color: green;
  
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
